/* sounny: basic styling for the interactive map and chart */
.map {
    border: medium solid #f19edd;
}

.country {
    fill: #bde5a6;
    stroke: #333;
    stroke-width: 0.5px;
}

.regions {
    fill: #278145;
    stroke: #1c691c;
    stroke-width: 0.5px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #a36ea0;
    float: right;
    margin: 10px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #a36ea0;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #a36ea0;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #000000;
}

.yAxisLabel, .xAxisLabel {
    font-family: sans-serif;
    font-size: 0.9em;
    fill: #723258;
}

.barLabel {
    font-family: sans-serif;
    font-size: 0.6em;
    fill: white;
    pointer-events: none;
}
