.map {
    border: medium solid #f19edd;
}

.country {
    fill: #bde5a6;
    stroke: #333;
    stroke-width: 0.5px;
}

.regions {
    fill: #278145;
    stroke: #1c691c;
    stroke-width: 0.5px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}